<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="text" placeholder="imie" th:field="*{modelUsera.name}">
    <input type="text" placeholder="nazwisko" th:field="*{modelUsera.surname}">
    <input type="text" placeholder="wiek" th:field="*{modelUsera.age}">
    <input type="password" placeholder="haslo" th:field="*{modelUsera.password}">
    <input type="submit" value="OK">
</form>
</body>
</html>